<%- include('header'); -%>


<!-- Order by surname  -->
<div class="container">
    <div class="row mt-5">
        <% authors.forEach(function(author) { %>
            <div class="col-md-6 col-lg-4">
                <div class="card text-dark">
                    <div class="card-body">
                        <h3><%= author.family_name %>, <%= author.first_name %></h3>
                        <a href="/catalog/author/<%= author._id %>">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
    
<%- include('footer'); -%>
